{% extends 'project/_base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <h1>
            机器人列表
        </h1>
    </div>
    <div class="card-columns">
        {% if bots %} {% for bot in bots %}
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <a href="{{url_for('bot.qa', project_id=project_id, bot_id=bot.id)}}">
                    <h4 class="card-title">{{bot.name}}</h4>
                    <p class="card-text">{{bot.area}}</p>
                </a>
            </div>
            <form class="inline" method="POST" action="{{url_for('project.delete_bot',project_id=project_id,bot_id=bot.id)}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token()}}" />
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确定删除该Bot？（删除后所有数据将会清空）')">Delete</button>
            </form>
        </div>
        {% endfor %} {% endif %}
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <a href="{{url_for('project.create_bot',project_id=project_id)}}" ">
                    <h4 class="card-title ">+</h4>
                    <p class="card-text ">新建chatbot</p> 
                </a>
                
            </div>
        </div>
    </div>    
</>
{% endblock content%}