{% extends 'base.html' %} {% block sidebar %}
<div class="side-nav expand-lg">
    <div class="side-nav-inner">
        <ul class="side-nav-menu">
            <li class="side-nav-header">
                <a href="{url_for('project.panel', project_id=project_id)}">
                    <span> <返回项目列表</span>
                </a>

            </li>
            <li class="nav-item dropdown open">
                <a href="#" class="dropdown-toggle">
                    <span class="icon-holder">
            <i class="lni-dashboard"></i>
        </span>
                    <span class="title">知识库管理</span>
                    <span class="arrow">
            <i class="lni-chevron-right"></i>
        </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li {%if active=="qa" %} class="active" {%endif%}>
                        <a href="{{url_for('bot.qa', project_id=project_id, bot_id=bot_id)}}">问答集</a>
                    </li>
                    <li {%if active=="synword" %} class="active" {%endif%}>
                        <a href="{{url_for('bot.synword', project_id=project_id, bot_id=bot_id)}}">同义词</a>
                    </li>
                    <li {%if active=="stopword" %} class="active" {%endif%}>
                        <a href="{{url_for('bot.stopword', project_id=project_id, bot_id=bot_id)}}">停用词</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-holder">
            <i class="lni-cloud"></i>
        </span>
                    <span class="title">机器人配置</span>
                    <span class="arrow">
            <i class="lni-chevron-right"></i>
        </span>
                </a>
                <ul class="dropdown-menu sub-down">
                    <li>
                        <a href="#">基本参数</a>
                    </li>
                    <li>
                        <a href="#">高级配置</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{%endblock%}