{% extends 'bot/_base.html' %} {% from 'bootstrap/form.html' import render_form %} {% block title %}上传问答集{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-1-12">
            <h1>
                上传问答集
            </h1>
        </div>

    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <p>仅支持xlsx格式的上传。上传文件需为三列，分别为：问题，答案，类别。模板文件可从下方下载。</p>
                    <a name="" id="" class="btn btn-inverse-primary btn-sm" href="#" role="button">模板下载</a>
                </div>
                <div class="card-body">
                    {{ render_form(form, extra_classes='col-6') }}
                </div>

            </div>

        </div>

    </div>
</div>
{% endblock%}