<!DOCTYPE html>
<html lang="zh-cn">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {%block title%} {%endblock title%} D.Bot
    </title>
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/fonts/line-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/plugins/morris/morris.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css/responsive.css')}}"> {%endblock head%}
</head>

<body>
    <div class="app header-default side-nav-dark">
        <div class="layout">
            <div class="header navbar">
                <div class="header-container">
                    <div class="nav-logo">
                        <a href="index.html">
                            <b><img src="{{url_for('static', filename='vendor/img/dbot_logo.png')}}" height="34px" alt=""></b>
                            <span class="logo">
                                <img src="{{url_for('static', filename='vendor/img/dbot_logo_text.png')}}" height="34px" alt="">
                            </span>
                        </a>
                    </div>
                    <ul class="nav-left">
                        <li>
                            <a class="sidenav-fold-toggler" href="javascript:void(0);">
                                <i class="lni-menu"></i>
                            </a>
                            <a class="sidenav-expand-toggler" href="javascript:void(0);">
                                <i class="lni-menu"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav-right">
                        {% if not current_user.is_authenticated%}
                        <li>
                            <a href="{{url_for('auth.login')}}">
                                <button type="button" class="btn btn-common">
                                    登录
                                </button>
                            </a>

                        </li>
                        <li>
                            <a href="{{url_for('auth.trial')}}">
                                <button type="button" class="btn btn-primary">
                                    申请试用
                                </button>
                            </a>

                        </li>
                        {%else%}

                        <li class="user-profile dropdown dropdown-animated scale-left">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img class="profile-img img-fluid" src="{{url_for('static', filename='vendor/img/avatar/avatar.jpg')}}" alt="">
                            </a>
                            <ul class="dropdown-menu dropdown-md">
                                <li>
                                    <ul class="list-media">
                                        <li class="list-item avatar-info">
                                            <div class="media-img">
                                                <img src="{{url_for('static', filename='vendor/img/avatar/avatar.jpg')}}" alt="">
                                            </div>
                                            <a href="{{url_for('front.panel')}}">
                                                <div class="info">
                                                    <span class="title text-semibold">{{current_user.username}}</span>
                                                    <span class="sub-title">{{current_user.role.name}}</span>
                                                </div>
                                            </a>

                                        </li>
                                    </ul>
                                    <li>
                                        <li>
                                            <a href="{{url_for('auth.logout')}}">
                                                <i class="lni-lock"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                            </ul>
                            </li>
                            {%endif%}
                    </ul>
                </div>
            </div>

            <div class="swlink">Developed by DAI</div>
            {%block sidebar%} {%endblock sidebar%}


            <div class="page-container">
                <div class="main-content">
                    {% for message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ message[0] }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message[1] }}
                    </div>
                    {% endfor %} {%block content%} {%endblock content%}
                </div>


                <footer class="content-footer">
                    <div class="footer">
                        <div class="copyright">
                            <span>Copyright © 2018 <b class="text-dark">DAI</b>. All Right Reserved.</span>

                        </div>
                    </div>
                </footer>

            </div>

        </div>
    </div>

    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>


    <script src="{{url_for('static', filename='vendor/js/jquery-min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/jquery.app.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/main.js')}}"></script>

    <script src="{{url_for('static', filename='vendor/plugins/morris/morris.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/plugins/raphael/raphael-min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/dashborad1.js')}}"></script>
</body>

</html>