<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
            {% endblock title %}
            D.Bot
        </title>
        <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
        <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
        {% endblock head %}
    </head>
    <body>
        {% block navbar%}
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eaf4ec;">
            <a class="navbar-brand" href="/">D.Bot</a>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{current_user.role.name}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('front.panel')}}">{{current_user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.logout')}}">登出</a>
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.login')}}">登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.trial')}}">申请试用</a>
                    </li>
                    {%endif%}
                </ul>
                
                </nav>
            </div>
        </nav>       
        {% endblock navbar %}

        <main>
            {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }}" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[1] }}
            </div>
            {% endfor %}
            <div class="container">
                {% block memu %}
                {% endblock memu %}
                
                {% block content %}
                {% endblock content %}
                
                {% block footer %}
                <footer>
                    <p class="float-left">
                        <small>&copy; 2020
                            <a href="/" title="Written by Joe Zheng">DAI</a> -
                            <a href="/" title="A HelloFlask project">D.Bot</a>
                        </small>
                    </p>
                    <p class="float-right">
                        <small>Deploy ChatBot Smoothly</small>
                    </p>
                </footer>
                {% endblock footer%}                
            </div>
        </main>


    </body>
</html>