{% from 'bootstrap/form.html' import render_form %}

<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>D.Bot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/fonts/line-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/plugins/morris/morris.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css/responsive.css')}}">
    <link href="{{url_for('static', filename='vendor/css/signin.css')}}" rel="stylesheet">
</head>

<!-- <body class="text-center" data-gr-c-s-loaded="true" style="background-image: url({{url_for('static', filename='vendor/img/index.png')}});background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="nav-logo">
                    <a href="{{url_for('front.panel')}}">
                        <b><img src="{{url_for('static', filename='vendor/img/dbot_logo.png')}}" height="34px" alt=""></b>
                        <span class="logo">
                                <img src="{{url_for('static', filename='vendor/img/dbot_logo_text.png')}}" height="34px" alt="">
                            </span>
                    </a>
                </div>

                <ul class="nav-right">
                    <li>
                        <a href="{{url_for('auth.trial')}}">
                            <button type="button float-right" class="btn btn-primary">
                                申请试用
                            </button>
                        </a>

                    </li>
                </ul>

            </nav>


        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="container h-100">
                <div class="row h-100 page-header justify-content-center align-items-center">
                    <img src="{{url_for('static', filename='vendor/img/dbot_logo.png')}}" height="68px" alt="">
                </div>
                <div class="row h-100 justify-content-center align-items-center">
                    {{ render_form(form, extra_classes='col-4') }}
                </div>
            </div>
        </div>

    </div>



    </div>

    </div>



    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>


    <script src="{{url_for('static', filename='vendor/js/jquery-min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/jquery.app.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/main.js')}}"></script>

    <script src="{{url_for('static', filename='vendor/plugins/morris/morris.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/plugins/raphael/raphael-min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/dashborad1.js')}}"></script>
</body> -->

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<body class="text-center" data-gr-c-s-loaded="true" style="background-image: url({{url_for('static', filename='vendor/img/index.png')}});background-size: cover;">

    <!-- <form class="form-signin">
        <img class="mb-4" src="{{url_for('static', filename='vendor/img/dbot_logo.png')}}" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-3">
            <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
    </form> -->
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <a name="" id="" class="btn btn-warning" href="#" role="button">申请试用</a>
            </div>
        </div> -->
        <div class="row">
            <form class="form-signin" method="post">
                <img class="mb-4" src="{{url_for('static', filename='vendor/img/dbot_logo.png')}}" alt="" height="72">
                <h1 class="h3 mb-3 font-weight-normal">请填写相关信息</h1>
                {{form.csrf_token}} {{form.email.label(class="sr-only")}} {{form.email(class="form-control",placeholder="邮箱")}} {{form.department.label(class='sr-only')}}{{form.department(class="form-control", placeholder="部门")}} {{form.reason.label(class='sr-only')}}{{form.reason(class="form-control",
                placeholder="业务场景")}} {{form.submit(class="btn btn-lg btn-warning btn-block")}}
            </form>
        </div>

    </div>
    <script src="{{url_for('static', filename='vendor/js/jquery-min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/jquery.app.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/main.js')}}"></script>

    <script src="{{url_for('static', filename='vendor/plugins/morris/morris.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/plugins/raphael/raphael-min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/dashborad1.js')}}"></script>
</body>

</html>